{% extends 'music/base.html' %}

{% block body %}
    {% if all_albums %}
    <ul>
        {% for album in all_albums %}
        <!--<li><a href="/music/{{album.id}}/"/>{{album.album_title}}</a></li>-->
        <li><a href="{% url 'music:detail' album.id %}"/>{{album.album_title}}</a></li> <!--Non-hardcoded link-->
            <form action="{% url 'music:album-delete' album.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
            </form>
            <form action="{% url 'music:album-update' album.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Update</button>
            </form>
        {% endfor %}
    </ul>
    {% else %}
    <h3> No Albums found</h3>
    {% endif %}
{% endblock %}